<!DOCTYPE html>
<html>
  <head>
    <title>Loan</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="bi bi-cash-coin"></span> Loan Apply</h1>

        <!-- LOGIN FORM -->
        <form action="/loan/applyLoan" method="post">
          <div class="form-group">
            <label>Loan Amount</label>
            <input type="number" class="form-control" name="loanAmount" />
            <label>Tenure</label>
            <input type="text" class="form-control" name="tenure" />
            <label>Interest Rate</label>
            <input type="number" class="form-control" name="interestRate" />
          </div>
          <button type="submit" class="btn btn-primary btn-lg">Apply</button>
        </form>

        <hr />
      </div>
    </div>
  </body>
</html>
