<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{
             word-wrap:break-word;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/login" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h4><span class="fa fa-user"></span> User Details</h4>
                    <p>
                        <strong>id</strong>: sfds54fdsfdsf5s4f56fsd<br>
                        <strong>username</strong>: suraj1503kain@gmail.com<br>
                        <strong>password</strong>: 12345
                    </p>
            </div>
        </div>
    </div>
    <br/>
    <h2 clas="align-items-center">User Accepted Loans</h2>
    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h4><span class="fa fa-user"></span> User Details</h4>
                    <p>
                        <strong>id</strong>: sfds54fdsfdsf5s4f56fsd<br>
                        <strong>email</strong>: suraj1503kain@gmail.com<br>
                        <strong>password</strong>: 12345
                    </p>
            </div>
        </div>
    </div>


</div>
</body>
</html>